.box-top {
	text-align: center;
}
h1 {
	 color: #545353;
    font-family: "ＭＳ Ｐゴシック","Bradley Hand";

}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}


.menu {
/*	background: pink;*/
	margin:0 auto;

}
.menu ul {
}
.menu li {
	text-align: center;
	list-style-type: none;
	font-size: 30px;
	float: left;
	color: #545353;
	padding: 5px;
	margin: 5px;
    font-family: "ＭＳ Ｐゴシック","Bradley Hand";
}
.menu a{ text-decoration: none; 
         color: #8E8C8C;
}
.menu a:hover { color: #000; 
    text-decoration: underline;
    }　/*マウスオン時のリンクの色*/
.menu a:link { color: red; 
    }　/*リンクの色*/
.menu a:visited { color: #494949;
     }　/*訪問済みリンクの色*/
.menu a:active { color: #00ff00;
     }　/*クリックしている時のリンクの色*/